{% extends "base.html" %}
{% load blogtags %}
{% block title %}{{ post.title }}{% endblock %}
{% block banner %}
    <h1 class="title">{{ post.title }}</h1>
    <p class="subtitle">
        Published {{ post.publish }} by <strong>@{{ post.author.username }}</strong>
    </p>
{% endblock %}
{% block content %}
    <div class="box">
        <div class="content indented">
            {{ post.body|markdown }}
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-fullwidth">
            <div class="buttons is-right">
                <a class="button is-link is-medium" href="{% url 'blog:post_share' post.id %}">Share this post</a>
            </div>
        </div>
    </div>
    <div class="columns is-centered">
        <div class="column is-fullwidth">
            {% with comments.count as total_comments %}
            <div class="block content">
                <p class="is-size-4 has-text-centered has-text-weight-semibold">
                    {{ total_comments }} Comment{{ total_comments|pluralize }}
                </p>
            </div>
            {% endwith %}
            
            {% for comment in comments %}
            <div class="block">
                <div class="card has-background-{% cycle 'primary-dark' 'link-dark' %} m-auto has-text-light">
                    <div class="card-header">
                        <p class="card-header-title">{{ comment.name }}</p>
                        <p class="heading has-text-weight-light is-italic mt-2 mr-2">
                            Posted {{ comment.created|timesince }} ago
                        </p>
                    </div>
                    <div class="card-content">
                        <div class="content indented">
                            {{ comment.body|linebreaks }}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="block">
                <div class="notification is-info">
                    <button type="button" class="delete"></button>
                    <div class="content indented">
                        <p>
                            There are not yet any comments to show for this post. If you would like to be 
                            the first to comment on this post, you can use the <strong>form below</strong>.
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% resetcycle %}
            <div class="columns">
                <div class="column is-two-thirds">
                    {% include "blog/post/includes/comment_form.html" %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block sidenav %}
    <aside class="menu box">
        <p class="menu-label is-size-5">Similar posts</p>
        <ul class="menu-list">
            {% for post in similar_posts %}
            <li>
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            </li>
            {% empty %}
            <li>
                <p class="is-italic">No similar posts to show here.</p>
            </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock %}