{% extends "base.html" %}
{% load blogtags %}
{% block title %}No Outlet - Official Blog{% endblock %}
{% block banner %}
    <h1 class="title">
        No Outlet - Official Blog
    </h1>
    {% if tag %}
    <p class="subtitle">
        Posts for <strong>{{ tag.name }}</strong>
    </p>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="block">
        {% for post in posts %}
        <div class="block">
            <div class="card">
                <div class="card-header">
                    <a class="card-header-title" href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    <p class="heading has-text-weight-light is-italic mt-2 mr-2">
                        Published {{ post.publish }} by <strong>@{{ post.author.username }}</strong>
                    </p>
                </div>
                <div class="card-content">
                    <div class="tags is-right">
                        {% for tag in post.tags.all %}
                        <a class="tag is-{% cycle 'primary' 'link' %}" href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
                        {% empty %}
                        <span class="tag is-light has-text-weight-light is-italic">No tags</span>
                        {% endfor %}
                        {% resetcycle %}
                    </div>
                    <div class="content indented">
                        {{ post.body|markdown|truncatewords_html:30 }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="block">
        {% include "pagination.html" with page=posts %}
    </div>
{% endblock %}